#new{
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
nav{
    background-color: rgb(129, 129, 129);
}
.nav-brand{
    font-size: 25px;
    margin-left: 60px;
}
.nav-link{
    margin-right: 10px;
}
.navbar-nav{
    margin-right: 200px;
}
#id{
    color:white;
    font-weight: bolder;
}
.container{
    background-color: rgb(129, 129, 129);
}
.media{
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.media-body{
    color: purple;
}
.mt-0{
    font-size: 30px;
}